body {
    font-family: 'open sans', 'sans-serif';
}
.header-link {
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;

color: #FFFFFF;

}
.header {
    background-color: gray;
}
.header-navigstion {
}
.header-logo {
}
.header-list {
}
.header-item {
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}