:root {
  --main-title-color: #ffffff;
  --secont-title-color: #303030;
  --main-btn-color: #ffffff;
  --secont-btn-color: #303030;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

/* p, h1, h2, h3 ,h4, h5, h6 {
  margin: 0;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header-link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color, #ffffff);
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.title {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16px;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
/* ---------------------HEADER----------------------- */

.header {
  background-color: gray;
}

.header-navigstion {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

/* .header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
} */

.header-link {
  text-decoration: none;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-btn {
  color: #ffffff;
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 43px;
}

/* ---------------------HERO----------------------- */

.hero {
}

.hero-wrap {
  background-color: #7e8291;
  background-image: var(--bg-gradient),
    url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.hero-list {
  width: 100px;
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color, #ffffff);
}
.hero-bottom-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ---------------------ABOUT----------------------- */
.about-list {
}

.about-item {
}

.about-top-text {
  color: #303030;
}

.about-title {
  color: #303030;
}

.about-bottom-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: #303030;
}

/* ---------------------PRICES----------------------- */

.prices {
  background-color: #6e7385;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: #ffffff;
}

.prices-list {
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.66px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
}

/* ---------------------BENEFITS----------------------- */

.benefits {
}
.benefits-list {
}
.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-top-text {
  color: #303030;
}

.benefits-title {
  color: #303030;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
}
.count {
}
.benefits-item-text {
}

/* ---------------------BARBERS----------------------- */

.barbers {
}
.barbers-top-text {
}
.barbers-title {
  color: var(--secont-title-color);
}
.barbers-list {
  color: #303030;
}
.barbers-item {
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
